
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<br />
<div class="container">
    <div class="row">
        <div class="col-2 m-1">
            <h3 class="text-primary">Let's Go!</h3>
        </div>
        <div class="col-2 m-1">
            <p><b>Company</b></p>
            <a href=""><small>About</small></a>
            <a href=""><small>List your property</small></a>
            <a href=""><small>Partnerships</small></a>
            <a href=""><small>Newsroom</small></a>
            <a href=""><small>Investor Relations</small></a>
            <a href=""><small>Advertising</small></a>
        </div>
        <div class="col-2 m-1">
            <p><b>Explore</b></p>
            <a href=""><small>United States of America travell guide</small></a>
            <a href=""><small>Hotels in United States of America</small></a>
            <a href=""><small>Vacation rentals in United States of America</small></a>
            <a href=""><small>Vacation packages in United States of America</small></a>
            <a href=""><small>Domestic flights</small></a>
            <a href=""><small>Car retals in United States of America</small></a>
            <a href=""><small>All accommodation types</small></a>
        </div>
        <div class="col-2 m-1">
            <p><b>Terms and Policies</b></p>
            <a href=""><small>Privacy policy</small></a>
            <a href=""><small>Terms of use</small></a>
            <a href=""><small>Vrbo terms and conditions</small></a>
            <a href=""><small>Rewards Terms</small></a>
            <a href=""><small>Accessibility</small></a>
            <a href=""><small>Do not sell my personal information</small></a>
        </div>
        <div class="col-2 m-1">
            <p><b>Help</b></p>
            <a href=""><small>Support</small></a>
            <a href=""><small>Cancel your hotel or vacation rental booking</small></a>
            <a href=""><small>Cancel your flight</small></a>
            <a href=""><small>Refund timelines, policies & processes</small></a>
            <a href=""><small>Use an coupon</small></a>
            <a href=""><small>International travel documents</small></a>
        </div>
    </div>
    <hr />
        <p class="text-center"><small>Let's Go! is not responsible for centent on external Web sites.</small></p>
</div>
